<div style="text-align: center;">
    <div style="margin-bottom: 20px;margin-top: 20px;display: inline-block;">
        <div class="outbrain-tm" id="14988-16"><script src="//ads.themoneytizer.com/s/gen.js?type=16"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=14988&formatId=16" ></script></div>
    </div>
</div>
