<div style="text-align: center;">
    <div style="margin-bottom: 20px;margin-top: 20px;display: inline-block;">
        <div id="14988-1"><script src="//ads.themoneytizer.com/s/gen.js?type=1"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=14988&formatId=1" ></script></div>
    </div>
</div>
